body {
    font-family: Arial, sans-serif;
    background-color: #a89797;
    text-align: center;
}

#app {
    margin: 20px;
}

button {
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
}

img {
    max-width: 200px;
}
#descrição {
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      text-align: center;
}
button {
    padding: 10px 20px;
    font-size: 16px;
    color: rgb(0, 0, 0);
    background-color: #5c6367;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.2s, background-color 0.3s;
}

button:hover {
    background-color: #1eb03b; 
    transform: scale(1.05); 
}

button:active {
    transform: scale(0.95); 
}
h1 {
    font-size: 2.5em; 
    color: #000000; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); 
    margin-bottom: 20px; 
    font-weight: bold; 
    letter-spacing: 2px; 
    transition: color 0.3s, transform 0.3s;
}

h1:hover {
    color: #020202; 
    transform: scale(1.05); 
}
p {
    font-size: 1.25em; 
    color: #050505; 
    line-height: 1.8; 
    margin: 20px 0; 
    padding: 15px; 
    background-color: #ffffff; 
    border-left: 5px solid #000000; 
    border-radius: 10px; 
    box-shadow: 0 4px 15px rgba(155, 148, 148, 0.1); 
    transition: transform 0.3s, box-shadow 0.3s; 
}

p:hover {
    transform: translateY(-5px); 
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2); 
    background-color: #7a7b89; 
}
#start{
    align-items: center;
}
